<app-header></app-header>

<div class="section">
    <p class="section-intro">
        La biologie est l'étude de la vie et de ses innombrables formes, des organismes microscopiques aux écosystèmes gigantesques. Explorez les mécanismes complexes qui régissent la vie sur Terre.
    </p>
    <div class="cards-container">
        <div class="card">
            <h3 class="card-title">Structure et fonction des cellules</h3>
            <p class="card-description">Explorez les organites comme le noyau, les mitochondries et les chloroplastes, et comprenez comment ils travaillent ensemble pour maintenir la vie.</p>
        </div>
        <div class="card">
            <h3 class="card-title">Cycle de vie des plantes</h3>
            <p class="card-description">Découvrez le processus fascinant de la germination, la photosynthèse et la reproduction des plantes.</p>
        </div>
        <div class="card">
            <h3 class="card-title">La photosynthèse : énergie verte</h3>
            <p class="card-description">Comprenez comment les plantes convertissent la lumière du soleil en énergie chimique pour alimenter la vie sur Terre.</p>
        </div>
    </div>
</div>



<app-footer class="footer"></app-footer>