<app-header></app-header>

<div class="section">
    <p class="section-intro">
        L'écologie nous enseigne les interactions entre les organismes et leur environnement. Apprenez à préserver les écosystèmes pour un avenir durable.
    </p>
    <div class="cards-container">
        <div class="card">
            <h3 class="card-title">Les écosystèmes et leur équilibre</h3>
            <p class="card-description">Apprenez comment les plantes, les animaux et leur environnement interagissent pour créer un équilibre naturel.</p>
        </div>
        <div class="card">
            <h3 class="card-title">Le recyclage naturel : les décomposeurs</h3>
            <p class="card-description">Étudiez le rôle des bactéries et champignons dans le cycle de la matière organique.</p>
        </div>
        <div class="card">
            <h3 class="card-title">Les effets du changement climatique</h3>
            <p class="card-description">Analysez les impacts du réchauffement climatique sur les habitats naturels et la biodiversité.</p>
        </div>
    </div>
</div>



<app-footer class="footer"></app-footer>