<app-header></app-header>

<div class="section">
    <p class="section-intro">
        La géologie nous aide à comprendre la Terre, ses processus internes et ses transformations au fil des millénaires. Plongez dans cette science fascinante qui dévoile l'histoire de notre planète.
    </p>
    <div class="cards-container">
        <div class="card">
            <h3 class="card-title">Les types de roches et leur formation</h3>
            <p class="card-description">Découvrez comment les roches ignées, sédimentaires et métamorphiques se forment et évoluent au fil du temps.</p>
        </div>
        <div class="card">
            <h3 class="card-title">Les volcans et leurs impacts</h3>
            <p class="card-description">Explorez les volcans les plus célèbres et comprenez leurs effets sur l'environnement et les populations.</p>
        </div>
        <div class="card">
            <h3 class="card-title">Les fossiles : traces du passé</h3>
            <p class="card-description">Plongez dans l'histoire de la Terre en étudiant les fossiles qui racontent l'évolution des espèces.</p>
        </div>
    </div>
</div>


<app-footer class="footer"></app-footer>